body
{
   background-color: #FF0000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#MegaMenu1
{
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#MegaMenu1 *
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
}
#MegaMenu1 li
{
   float: left;
   margin: 0;
   padding: 0;
   position: relative;
}
#MegaMenu1 li a
{
   float: left;
}
#MegaMenu1 li .submenu
{
   display: none;
   float: left;
   left: 0;
   padding: 15px 15px 15px 15px;
   position: absolute;
   top: 0;
   z-index: 9999;
}
#MegaMenu1 li .row
{
   clear: both;
   float: left;
   margin-bottom: 10px;
   width: 100%;
}
#MegaMenu1 li .submenu ul
{
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
}
#MegaMenu1 .submenu ul li
{
   width: 100%;
}
#MegaMenu1 .submenu ul li h2
{
   font-weight: bold;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-decoration: none;
}
#MegaMenu1 .submenu ul li h2
{
   background-image: none;
   background-color: transparent;
   border-width: 0;
   font-weight: bold;
   font-style: normal;
   padding: 5px 0;
   text-decoration: none;
}
#MegaMenu1 .submenu ul li h2 a:hover
{
   padding: 5px 0;
}
#MegaMenu1 .submenu ul li a
{
   display: block;
   float: none;
   font-weight: normal;
   font-style: normal;
   height: auto;
   padding: 7px 5px 7px 15px;
   text-decoration: none;
   text-indent: 0;
   white-space: nowrap;
}
#MegaMenu1 .submenu ul li a:hover
{
   border-style: solid;
   border-width: 1px;
   padding: 6px 4px 6px 14px;
}
#MegaMenu1 .submenu ul li a .ui-icon
{
   left: 0;
   margin-top: -8px;
   position: absolute;
   top: 50%;
   display: block;
   text-indent: -99999px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-image: url(images/megamenu1_bullet.png);
   width: 16px;
   height: 16px;
}
#MegaMenu1 .button
{
   cursor: pointer;
   font-weight: normal;
   font-style: normal;
   margin: 0 31px 0 0;
   outline: 0;
   padding: 6px 23px 12px 14px;
   position: relative;
   text-align: center;
   text-decoration: none !important;
   color: #FFFFFF;
}
#MegaMenu1 .button:hover
{
   color: #FFFFFF;
}
#MegaMenu1 .button:active
{
   color: #FFFFFF;
}
#MegaMenu1 .ui-widget-content a
{
   color: #FF0000;
}
#MegaMenu1 .ui-widget-content a:hover
{
   color: #FFFFFF;
}
#MegaMenu1 .button .ui-icon
{
   left: auto;
   margin-top: -8px;
   margin-left: 0;
   position: absolute;
   right: 7px;
   top: 50%;
   display: block;
   text-indent: -99999px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-image: url(images/megamenu1_button.png);
   width: 16px;
   height: 16px;
}
#MegaMenu1 .ui-state-default
{
   background-color: #909090;
   background-image: none;
   border: 1px #CCCCCC solid;
   color: #FFFFFF;
}
#MegaMenu1 .ui-state-hover
{
   background-color: #337AB7;
   background-image: none;
   border-color: #245580;
   color: #FFFFFF;
}
#MegaMenu1 .ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   color: #FF0000;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   position: absolute;
   left: 325px;
   top: 50px;
   width: 320px;
   height: 36px;
   text-align: center;
   z-index: 1;
}
#wb_MegaMenu1
{
   position: absolute;
   left: 260px;
   top: 140px;
   width: 490px;
   height: 98px;
   z-index: 0;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_MegaMenu1
{
   left: 6px;
   top: 140px;
   width: 390px;
   height: 98px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 83px;
   top: 60px;
   width: 238px;
   height: 36px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
