body
{
   background-color: #FF0000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Features
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #454744;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Features
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#Features .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#Features .col-1, #Features .col-2, #Features .col-3
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#Features
{
   width: 970px;
}
#Features .col-1, #Features .col-2, #Features .col-3
{
   float: left;
}
#Features .col-1
{
   background-color: transparent;
   background-image: none;
   width: 33.33333333%;
   text-align: center;
}
#Features .col-2
{
   background-color: transparent;
   background-image: none;
   width: 33.33333333%;
   text-align: center;
}
#Features .col-3
{
   background-color: transparent;
   background-image: none;
   width: 33.33333333%;
   text-align: center;
}
#Features:before,
#Features:after,
#Features .row:before,
#Features .row:after
{
   display: table;
   content: " ";
}
#Features:after,
#Features .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#Features
{
   width: 100%;
}
#Features .col-1, #Features .col-2, #Features .col-3
{
   float: none;
   width: 100%;
}
}
#wb_PanelText1 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_PanelText1 div
{
   text-align: center;
}
#wb_PanelImage1
{
   vertical-align: top;
}
#PanelImage1
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage1
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage1:hover
{
   opacity: 0.5;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage2
{
   vertical-align: top;
}
#PanelImage2
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage2
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage2:hover
{
   opacity: 0.5;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage3
{
   vertical-align: top;
}
#PanelImage3
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: block;
   width: 100%;
   height: auto;
   max-width: 320px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage3
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage3:hover
{
   opacity: 0.5;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelText2 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_PanelText2 div
{
   text-align: center;
}
#wb_PanelText3 
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_PanelText3 div
{
   text-align: center;
}
